[Unit]
Description=Sensor API Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/bogdan/E5/app.py
WorkingDirectory=/home/bogdan/E5/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=bogdan

[Install]
WantedBy=multi-user.target
